.contacts {
  margin-top: 130px;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(193, 161, 161);
  border-radius: 10px;
  border: 15px solid rgb(80, 40, 40);
  border-bottom: 35px solid rgb(80, 40, 40);
  width: 80%;
  max-width: 500px;
  height: 450px;
  padding: 25px 25px 15px;
  color: black;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  margin-bottom: 60px;
}

label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin-top: 1px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  background-color: rgb(235, 214, 198);
  border-radius: 5px;
  border-bottom: 3px solid rgb(68, 10, 10);
  font-size: large;
  font-weight: bold;
  color: black;
}

input[type='email'] {
  flex: 1;
  padding: 10px;
  background-color: rgb(235, 214, 198);
  border-radius: 5px;
  border-bottom: 3px solid rgb(68, 10, 10);
  font-size: large;
  font-weight: bold;
  color: black;
}

textarea {
  flex: 10;
  background-color: rgb(235, 214, 198);
  border-radius: 5px;
  border-top: 3px solid rgb(68, 10, 10);
  border-bottom: 3px solid rgb(68, 10, 10);
  font-size: larger;
  font-weight: bold;
  color: black;
}

input[type='submit'] {
  flex: 1.5;
  padding: 5px;
  margin-top: 10px;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(68, 10, 10);
  color: white;
  cursor: pointer;
}

.contact-loading {
  margin: 5px auto;
  border: 5px solid #ffffff;
  border-radius: 50%;
  border-top: 5px solid #33a8f6;
  width: 20px;
  height: 20px;
  animation: spinner 2s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
