.contacts {
  margin-top: 130px;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(140, 98, 98);
  border-radius: 10px;
  padding: 20px 20px 5% 20px;
}

label {
  margin-right: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  background-color: rgb(235, 214, 198);
  border-radius: 5px;
  border-bottom: 3px solid rgb(68, 10, 10);
  font-size: large;
  font-weight: bold;
  color: black;
}

input[type='email'] {
  flex: 1;
  padding: 10px;
  background-color: rgb(235, 214, 198);
  border-radius: 5px;
  border-bottom: 3px solid rgb(68, 10, 10);
  font-size: large;
  font-weight: bold;
  color: black;
}

.message {
  flex: 1;
  padding: 10px;
}
