.menu-item-h3,
.item-price,
.item-description {
  margin-top: 0;
  margin-bottom: 0;
}

.menu {
  /*min-height: 100vh;*/
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 50px 0px;
}

.menu-header {
  text-align: middle;
  align-items: center;
  font-size: 50px;
  color: white;
}

.menu-header-image {
  min-height: 450px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 80px;
}

.menu-border {
  border: 4px solid rgb(121, 95, 95);
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 2rem;
  width: fit-content;
}

.category-btn {
  font-size: 18px;
  padding: 8px 16px;
  margin: 0 10px;
  margin-bottom: 2rem;
  background-color: #c2aeae;
  border: 3px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.category-btn:hover {
  border: 3px solid rgb(121, 95, 95);
}

.category-btn.active,
.category-btn:focus {
  background-color: rgb(121, 95, 95);
  outline: none;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  text-align: left;
  max-width: 75vw;
  margin: 0 auto;
}

.menu-item {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 10rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-image {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  overflow: hidden;
  padding: 10px;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.item-description {
  flex: 1;
  max-width: 25rem;
  max-height: 5rem;
}

.item-name {
  font-size: 16px;
  max-height: 100px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-details {
  margin-top: 0px;
  color: #555;
}

.item-price {
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

.item-description {
  font-size: 14px;
}

.item-tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 2px 8px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.tag.vegan {
  background-color: green;
  color: white;
}

.tag.gluten-free {
  background-color: blue;
  color: white;
}

.error {
  color: red;
}

.loader {
  margin: auto;
  border: 15px solid #000000;
  border-radius: 50%;
  border-top: 15px solid #663500;
  width: 50px;
  height: 50px;
  animation: spinner 3s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 47rem;
  height: 15rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
  align-items: center;
}

.modal-image {
  width: 45%;
  height: 200%;
  max-width: 250px;
  max-height: 250px;
  object-fit: scale-down;
  margin-right: 50px;
  margin-left: 50px;
}

.modal-details {
  flex-grow: 1;
}

.modal-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.modal-ingredients-header {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
}

.modal-ingredients {
  font-size: 16px;
  font-style: italic;
  text-align: left;
  color: #555;
  margin-right: 50px;
}
