.navbar {
  position: fixed;
  background-color: antiquewhite;
  width: 100vw;
  box-sizing: border-box;
  padding: 2em;
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 4px 2px -2px gray;

  top: 0;
  right: 0;
}

.navbar a {
  padding-right: 2em;
  color: black;
}

.navbar a:hover {
  color: rgba(0, 0, 0, 0.538);
}

.shrink {
  height: 50px;
  padding: 1em 2em;
}
